.App {
  text-align: center;
}
body {
  background-color: whitesmoke;
}

.App-header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 132px;
}

.App-header img {
  position: absolute;
  top: 0
}
.App-link {
  color: #61dafb;
}

.search-input {
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 5px gainsboro;
  padding: 5px;
  margin-left: 106px;
  position: absolute;
}

.text-blue {
  color: #7da4e8
}

.search-input:focus {
  box-shadow: 0 !important;
}

.menu {
  background: white;
  width: 100%;
  box-shadow: 0 3px 5px gainsboro;
  color: #7da4e8
}

.menu a {
  padding: 30px;
  text-transform: uppercase;
}

.mobile-menu {
  background: white;
  height: 100%;
  position: fixed;
  top: 0;
  left: -235px;
  padding-left: 10px;
  padding-right: 20px;
  text-align: left;
  z-index: 2;
  transition: all 0.5s ease
}

.mobile-menu-btn {
  padding-top: 20px;
}


.header-bg {
  width: 110%!important;
  background: whitesmoke;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.z-index-2 {  
  z-index: 2;
}

.separator {
  margin-top: 20px;
  border: 2px solid gainsboro;
}

.mobile-menu-item {
  padding: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.close-menu-btn {
  color: black;
  position: fixed;
  right: 0;
  background: white;
  padding: 10px;
  width: 45px;
  z-index: 2;
  margin-right: 40px;
}

.close-menu-btn:hover {
  color: black !important;
  text-decoration: none !important;
}

.close-search-btn {
  color: black;
  position: fixed;
  right: 0;
  background: white;
  top: 11px;
  padding: 10px;
  width: 45px;
  z-index: 2;
  margin-right: 15px !important;  
  box-shadow: 0 2px 3px lightgrey;
}

.close-search-btn:hover {
  color: black !important;
  text-decoration: none !important;
}

.search-mobile {
  right: 25px;
  top: 15px;;
  margin-right: 20px;
  position: fixed;
  z-index: 2;
  width: 50px;
  transition: all 0.6s ease;
}

.pagination-button{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  margin: 5px;
  cursor: pointer;
}

.pagination-button.active{
  background: #7da4e8;
  color: white !important;
}

.card {
  cursor: pointer;
}

.mobile-search-input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 3px lightgray;
  padding-left: 45px;
  opacity: 0;
  transition: all 1s ease;
}

.search-mobile a {
  margin: 5px;
  position: fixed;
}

.search-mobile a svg {
  width: 25px;
  margin-left: 6px;
}

@media only screen and (min-width: 992px) {
  .card-img-top {
    width: 100%;
    max-height: 15vw;
    object-fit: cover;
  }
}

@media only screen and (max-width: 992px) {
  .App-header img {
    margin-top: 10px;
    z-index: 1;
    position: fixed;
  }
}
